<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>Host Game View - Lobby <%= roomID%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/style/host/gameView.css" />

        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 

    </head>
    <body>
        <div id="waiting">    
            <div class="pos-f-t">
              <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <h5 class="text-white h4">Collapsed content</h5>
                  <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
              </div>
              <nav class="navbar navbar-dark bg-dark">
                
                <div class="col-md-12 text-center">
                <h1 class="h1" style="color:#fff;">JOIN WITH ID <span style="color:red"><%= roomID%></span></h1> 
                </div>
              </nav>
            </div>
            <br>
            <div class="col-md-6 text-left">
                <h1 class="h1" id="numPlayers">0 Players</h1>
            </div>
            <div class="col-md-6 text-right">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="startGame()">Start</button> 
            </div>
            <div class="col-md-6 text-right">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="waitingMode()">Waiting Mode</button> 
            </div>
            <br>
            <!-- <div class="container-fluid" id="playerInfo">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <button type="button" class="btn btn-danger">Danger</button>    
                    </div>
                </div>
                <br>
            </div> -->          



            <!-- <div class="loader"></div> -->
            <br/>
        </div>
        <div id="playing" style="display:none;">
            <div class="pos-f-t">
              <nav class="navbar navbar-dark bg-dark">
                <div class="col-md-12 text-center">
                <h1 class="h1" style="color:#fff;" id="questionNumber"></h1> 
                </div>
              </nav>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" id="progressBar" style="width:20%">
                <!-- 70% Complete (danger) -->
              </div>
            </div>
            <div class="row question">
                <h1 class="h1" style="color:#000;" id="question"></h1> 
            </div>
            <div class="fixed-bottom" style="margin: 20px;">
                <div class="row">
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="A" name="singlebutton" class="btn btn-primary answer answer-A">A</button> 
                    </div>
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="B" name="singlebutton" class="btn btn-primary answer answer-B">B</button> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="C" name="singlebutton" class="btn btn-primary answer answer-C">C</button> 
                    </div>
                    <div class="col-md-6 text-center" style="height:5em;padding: 4px;">
                        <button id="D" name="singlebutton" class="btn btn-primary answer answer-D">D</button> 
                    </div>
                </div>
            </div>
            <br>
        </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-auth.js"></script>

    <script>
        var $jq = jQuery.noConflict();
        var questionNumber = 1;
        var numQuestions = 2;

        var t;
        function waitingMode()
        {
            $("#waiting").show();
            t = setInterval(function() {
                $jq.ajax({
                    type: 'GET',
                    url: '/lobbyData/players?roomID=<%= roomID%>',
                    dataType: 'text',
                    success: function(data) {
                        console.log('Interval');
                        if (data == null) {
                            console.log('[ERROR] Can not onnect to server');
                        }else {
                            $("#numPlayers").html(Object.keys(JSON.parse(data)).length.toString()+' players');
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        // alert(xhr.status);
                        // alert(thrownError);
                    }
                }) // End of AJAX
            }, 1000);
        }

        waitingMode();

        function startGame(){
            clearInterval(t);
            $("#waiting").hide();
            $("#playing").show();

            displayQuestion();
            
        }


        function displayQuestion() {
            $jq.ajax({
                type: 'GET',
                url: '/lobbyData/question?roomID=<%= roomID %>&questionPacksId=<%= questionPacksId %>&questionNumber=' + questionNumber.toString(),
                dataType: 'text',
                success: function(data) {
                    data = JSON.parse(data);
                    if (data == null) {
                        console.log('[ERROR] Can not onnect to server');
                    }else {
                        //reset progress bar
                        $("#progressBar").css('width','0%');
                        // $("#numPlayers").html(Object.keys(JSON.parse(data)).length.toString()+' players');
                        $("#A").html(data.a);
                        $("#B").html(data.b);
                        $("#C").html(data.c);
                        $("#D").html(data.d);
                        $("#questionNumber").html("Question " + questionNumber.toString());
                        $("#question").html(data.question);
                        limit = data.limit;
                        currentTime=0;
                        var p = setInterval(function(){
                            var percentage=currentTime/limit*100;
                            currentTime = currentTime + 1;
                            console.log(percentage);
                            if(percentage<=100){
                                $("#progressBar").css('width',percentage.toString()+'%');
                            }
                        }, 1000);
                        setTimeout(function(){
                            clearInterval(p);
                            //TODO: Show players result
                            //Next question
                            if (questionNumber < numQuestions) {
                                questionNumber++;
                                displayQuestion();
                            }
                            else {
                                alert("Game end!");
                            }
                        }, 1000*(limit+2));
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    // alert(xhr.status);
                    // alert(thrownError);
                }
            }); // End of AJAX
        }
    
    </script>

    </body>
</html>
